*{
	padding: 0;
	margin: 0;
}
h1{
	text-align: center;
	background-color:#0A94F0 ;
	color: #010101;
}
nav ul{
	background-color: #449AC3;
	width: 100%;
	list-style-type: none;
}
nav li{
	display: inline-flex;
}
nav a{
	text-decoration: none;
	color: white;
	padding: 10px;
	width: 150px;
}
nav li:hover{
	background-color: #0A94F0;
}